:root {
  --primary-light: #63a6c1;
  --primary: #548fa9;
  --primary-dark: #35617a;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #626f91;
}
/*
$shadow: .3rem .3rem .6rem var(--greyLight-2),
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
inset -.2rem -.2rem .5rem var(--white);
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px    100% = 16px */
  overflow-y: scroll;
  background: var(--greyLight-1);
  @media screen and (min-width: 900px) {
        font-size: 75%; }
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Make sure the container covers the full viewport height */
  background: var(--greyLight-1);
}
.container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center horizontally */
  padding: 10px;
  height: auto;
  width: auto;
  transition: all 0.5s ease;
}
.components {
  min-width: 30rem;
  min-height: 30rem;
  border-radius: 3rem;
  box-shadow:.8rem .8rem 1.4rem var(--greyLight-2),
            -.2rem -.2rem 1.8rem var(--white);
  padding: 4rem;
  display: grid;
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: scale(0.9);
  transition: all 0.5s ease;
}
.components.searching {
  transform: scale(0.88);
  transition: all .1s ease;
}
.components.visible {
	height: auto;
	transform: scale(1);
  transition: all 0.5s ease;
}
.but_input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add some spacing between elements */
  margin-bottom: 1px;
}
.spacer {
  width: 1rem; /* Adjust the height to create the desired space */
}
.btn {
  width: 15rem;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn__primary {
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
              inset -0.2rem -0.2rem 1rem var(--primary-dark),
              0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
   box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
             inset -0.2rem -0.2rem 1rem var(--primary-light),
             0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.btn__primary p {
  font-size: 1.6rem;
}
.btnSmall {
  min-width: 8rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btnSmall__primary {
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
              inset -0.2rem -0.2rem 1rem var(--primary-dark),
              0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.btnSmall__primary:hover {
  color: var(--white);
}
.btnSmall__primary:active {
   box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
             inset -0.2rem -0.2rem 1rem var(--primary-light),
             0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.btnSmall__primary p {
  font-size: 1.6rem;
}
/* SEARCH */
.search {
  position: relative;
  display: flex;
  align-items: center;
}
/* Styles for the search input */
.search__input {
  width: 23rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 3.8rem;
  padding-right: 2rem;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
inset -.2rem -.2rem .5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}
.search__input::placeholder {
  color: var(--greyDark);
}
.search__input:focus {
  outline: none;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
              -.2rem -.2rem .5rem var(--white);
  color: var(--primary);	
}
/* Styles for the search icon */
.search__icon {
  height: 2rem;
  position: absolute;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  color: var(--greyDark);
  transition: 0.3s ease;
}
/* DATE PICKER */
.dateP {
  display: flex;
  justify-content: center;
}
/* Styles for the date picker */
.dateP__input {
  width: 10rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 3.8rem;
  padding-right: 2rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
}
.dateP__input::placeholder {
  color: var(--greyLight-3);
}
.dateP__input:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--primary);	
}
.searchResults {
  width: 72rem;
  min-height: 5rem;
  border-radius: .7rem;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
              -.2rem -.2rem .5rem var(--white);
  padding: .7rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  opacity: 0; /* Start with 0 opacity */
  transform: scale(0.5); /* Start small */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Add transitions */
}

.searchResults.visible {
	opacity: 1;
	transform: scale(1);
}

.preview {
  width: 70rem;
  min-height: 1rem;
  border-radius: 1rem;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
inset -.2rem -.2rem .5rem var(--white);
  font-family: 'Lucida Grande', monospace;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  align-items: center;
}
.linkButton {
  min-width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  padding: .2rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.linkButton__primary {
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light),
              inset -0.2rem -0.2rem 1rem var(--primary-dark),
              0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}
.linkButton__primary:hover {
  color: var(--white);
}
.linkButton__primary:active {
   box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark),
             inset -0.2rem -0.2rem 1rem var(--primary-light),
             0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.linkButton__primary p {
  font-size: 1.2rem;
}
.date_size {
  display: flex;
  align-items: center;
}
.date_size__dateResult {
	box-shadow: .3rem .3rem .6rem var(--greyLight-2),
              -.2rem -.2rem .5rem var(--white);
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}
.date_size__sizeResult {
	box-shadow: .3rem .3rem .6rem var(--greyLight-2),
              -.2rem -.2rem .5rem var(--white);
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
	  display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
	  margin-left: auto;
}

.loader {
  position: absolute;
  top: 100%;
  left: 50%;
  
  width: 300px;
  height: 100px;
  
  margin-top: -100px;
  margin-left: -100px;
  
  perspective: 1000px;
  transform-style: preserv3d;

  display: none;
}

.loader--reflect {
  margin-top: 0;
}

.loader--reflect:after {
  content: '';
  position: absolute;
  top: 0;
  left: -25%;
  
  width: 110%;
  height: 90%;
  
  background: linear-gradient(0deg, rgba(238, 238, 238, 1), rgba(238, 238, 238, 1) 20%, rgba(238, 238, 238, 0.3));
}


/* The bar */
.bar {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 20px;
  height: 50px;

  background-color: #1e3f57;
  
  transform: scaleY(0);
  transform-style: preserve3d;

  animation: bar 3s cubic-bezier(.81,.04,.4,.7) infinite;
}

.bar:nth-child(2) {
  left: 20px;
  
  background-color: #264a63;
  
  animation-delay: 50ms;
}

.bar:nth-child(3) {
  left: 40px;
  
  background-color: #2d566f;
  
  animation-delay: 100ms;
}

.bar:nth-child(4) {
  left: 60px;
  
  background-color: #35617a;
  
  animation-delay: 150ms;
}

.bar:nth-child(5) {
  left: 80px;
  
  background-color: #3d6d86;
  
  animation-delay: 200ms;
}

.bar:nth-child(6) {
  left: 100px;
  
  background-color: #447892;
  
  animation-delay: 250ms;
}

.bar:nth-child(7) {
  left: 120px;
  
  background-color: #4c849e;
  
  animation-delay: 300ms;
}

.bar:nth-child(8) {
  left: 140px;
  
  background-color: #548fa9;
  
  animation-delay: 350ms;
}

.bar:nth-child(9) {
  left: 160px;
  
  background-color: #5c9bb5;
  
  animation-delay: 400ms;
}

.bar:nth-child(10) {
  left: 180px;
  
  background-color: #63a6c1;
  
  animation-delay: 450ms;
}

.loader--reflect .bar {
  animation-name: bar-reflect;
}

@keyframes bar {
  0% {
    transform: rotateZ(-180deg) rotateX(-360deg);
  }
  75%,100% {
    transform: rotateZ(0) rotateX(0);
  }
}

@keyframes bar-reflect {
  0% {
    transform: rotateZ(180deg) rotateX(360deg);
  }
  75%,100% {
    transform: rotateZ(0) rotateX(0);
  }
}
